[Desktop Entry]
Name=Chudder
StartupWMClass=uk.jentejan.chudder
Comment=An opinionated cross-platform Jellyfin client, forked from Fladder.
Exec=chudder
Icon=uk.jentejan.chudder
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
